@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  transition: .2s ease-in-out;
}

td {
  text-align: center;
  padding-block: 5px;
}

.drag-over {
  background-color: #0c7dffc2;
}

input {
  outline: 1px solid #b4aaaa;
  height: 30px;
  border-radius: 0.275rem;
  padding: 5px;
}

@layer components {
  .modal{
    @apply w-full h-3/6 max-w-xl z-50 p-5 rounded-md flex flex-col gap-2;
  }
}